<div class="search-div">
  <button mat-raised-button><mat-icon>add</mat-icon> Add</button>
  <mat-form-field class="search-form-field" floatLabel="never">
    <input
      matInput
      [(ngModel)]="searchKey"
      placeholder="Search"
      autocomplete="off"
      (keyup)="applyFilter($any($event.target).value)"
      #input
    />
    <button
      mat-button
      matSuffix
      mat-icon-button
      aria-label="clear"
      *ngIf="searchKey"
      (click)="onSearchClear()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>

<button mat-button (click)="addPurchasesDialog()">Add New Record</button>

<div class="table">
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
    <!-- Position Column -->
    <ng-container matColumnDef="invoiceNumber">
      <mat-header-cell mat-sort-header *matHeaderCellDef>
        Invoice Number
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.invoiceNumber }}
      </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="IPAddress">
      <mat-header-cell *matHeaderCellDef> IP Address </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.IPAddress }} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="DCAmount">
      <mat-header-cell mat-sort-header *matHeaderCellDef>
        DC Amount
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.DCAmount }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="date">
      <mat-header-cell mat-sort-header *matHeaderCellDef>
        Date
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.date | date }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="transactionID">
      <mat-header-cell mat-sort-header *matHeaderCellDef>
        Transaction ID
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.transactionID }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <span (click)="updatePurchasesDialog(element)"
          ><mat-icon>mode_edit</mat-icon></span
        >
        <span (click)="deletePurchases(element.id)"
          ><mat-icon>delete</mat-icon></span
        >
      </td>
    </ng-container>

    <ng-container matColumnDef="loading">
      <mat-footer-cell *matFooterCellDef colspan="6">
        Loading Data...
      </mat-footer-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    <mat-footer-row
      *matFooterRowDef="['loading']"
      [ngClass]="{ hide: dataSource != null }"
    ></mat-footer-row>
  </mat-table>
</div>
