<div class="navbar">
  <ul>
    <li class="logo">Logo</li>
    <li>
      <a
        class="active"
        [routerLink]="['/']"
        routerLinkActive="router-link-active"
        >Home</a
      >
    </li>

    <li class="menu" mat-button [matMenuTriggerFor]="menu">
      <span class="title-menu">Accounting</span>
    </li>
    <mat-menu #menu="matMenu">
      <a
        [routerLink]="['/sales']"
        routerLinkActive="router-link-active"
        mat-menu-item
        >Sales</a
      >
      <a
        [routerLink]="['/purchases']"
        routerLinkActive="router-link-active"
        mat-menu-item
        >Purchases</a
      >
      <a
        [routerLink]="['/expense']"
        routerLinkActive="router-link-active"
        mat-menu-item
        >Expense</a
      >
      <a
        [routerLink]="['/reports']"
        routerLinkActive="router-link-active"
        mat-menu-item
        >Reports</a
      >
    </mat-menu>
    <li>
      <a
        class="nav-link"
        style="cursor: pointer"
        (click)="loginService.logoutUser()"
        >Logout</a
      >
    </li>
  </ul>
</div>
