<button mat-button (click)="addExpensesDialog()">Add New Record</button>

<div class="table">
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="invoiceNumber">
      <mat-header-cell *matHeaderCellDef> Invoice Number </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.invoiceNumber }}
      </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="IPAddress">
      <mat-header-cell *matHeaderCellDef> IP Address </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.IPAddress }} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="expenseAmount">
      <mat-header-cell *matHeaderCellDef> Expense Amount </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.expenseAmount }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="DCPaymentStatus">
      <mat-header-cell *matHeaderCellDef> DC Payment Status </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.DCPaymentStatus }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.date | date }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="transactionID">
      <mat-header-cell *matHeaderCellDef> Transaction ID </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.transactionID }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <span (click)="openUpdateDialog(element)"
          ><mat-icon>mode_edit</mat-icon></span
        >
        <span (click)="deleteExpenses(element.id)"
          ><mat-icon>delete</mat-icon></span
        >
      </td>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</div>
