<div class="form">
  <form>
    <div class="left">
      <mat-form-field appearance="outline">
        <mat-label>Invoice Number</mat-label>
        <input
          type="number"
          [(ngModel)]="updateSales.invoiceNumber"
          name="invoiceNumber"
          matInput
          placeholder="Enter Invoice Number"
        />
      </mat-form-field>
    </div>
    <div class="left">
      <mat-form-field appearance="outline">
        <mat-label>IP Address</mat-label>
        <input
          type="text"
          [(ngModel)]="updateSales.IPAddress"
          name="ipaddress"
          matInput
          placeholder="Enter IP Address"
        />
      </mat-form-field>
    </div>
    <div class="left">
      <mat-form-field appearance="outline">
        <mat-label>Received Amount</mat-label>
        <input
          type="number"
          [(ngModel)]="updateSales.receivedAmount"
          name="receivedAmount"
          matInput
          placeholder="0.00"
          min="0"
          value="0"
          step=".01"
        />
      </mat-form-field>
    </div>
    <div class="left">
      <mat-form-field appearance="outline">
        <mat-label>DC Amount</mat-label>
        <input
          type="number"
          [(ngModel)]="updateSales.DCAmount"
          name="dcAmount"
          matInput
          placeholder="0.00"
          min="0"
          value="0"
          step=".01"
        />
      </mat-form-field>
    </div>
    <div class="right">
      <mat-form-field appearance="fill">
        <mat-label>Company</mat-label>
        <mat-select
          [(ngModel)]="updateSales.company"
          [ngModelOptions]="{ standalone: true }"
        >
          <mat-option>None</mat-option>
          <mat-option *ngFor="let company of company" [value]="company">{{
            company
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="right">
      <mat-form-field appearance="fill">
        <mat-label>Vendor</mat-label>
        <mat-select
          [(ngModel)]="updateSales.vendor"
          [ngModelOptions]="{ standalone: true }"
        >
          <mat-option>None</mat-option>
          <mat-option *ngFor="let vendor of vendor" [value]="vendor">{{
            vendor
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="right">
      <mat-form-field appearance="fill">
        <mat-label>DC Payment Status</mat-label>

        <mat-select
          [(ngModel)]="updateSales.DCPaymentStatus"
          [ngModelOptions]="{ standalone: true }"
        >
          <mat-option>None</mat-option>
          <mat-option
            *ngFor="let DCPaymentStatus of DCPaymentStatus"
            [value]="DCPaymentStatus"
            >{{ DCPaymentStatus }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>

    <div class="date">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input
          [(ngModel)]="updateSales.date"
          name="date"
          matInput
          [matDatepicker]="picker"
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="left">
      <mat-form-field appearance="outline">
        <mat-label>Transaction ID</mat-label>
        <input
          type="number"
          [(ngModel)]="updateSales.transactionID"
          name="transactionID"
          matInput
          placeholder="Transaction ID"
        />
      </mat-form-field>
    </div>

    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancel</button>
      <button
        mat-button
        [mat-dialog-close]="true"
        cdkFocusInitial
        (click)="updateRecords()"
      >
        Submit
      </button>
    </mat-dialog-actions>
  </form>
</div>
